*{margin: 0; padding:0}
header{
	heigth: 150px;
	diplay: flex;
	justify-content; space-around;
	border: 1px solid black;

}
header nav ul{
	display: flex;
}
header nav ul li{
	list-style:none;
	margin: 10px;
}
header img{
	heigth: 100%;
}